
.table{
 background-image:url('../images/banner/banner03.jpg');
 height:320px; 
 width:100%;
 text-align:center;
 cellpadding:5;
 }


.td{
 text-valign:button;
 width:100%;
 height:50%;
 bgcolor:yellow;
}

.columnaIzq{
    width:339px;
    float:left;
    background-color:;
    height:250px;
    
    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

margin: 5px 5px auto;
padding: 5px 10px 250px;
}



#contenedorP{
overflow: hidden;
border-top-width:3px solid;
border-top-color:#ff0000;
background: none repeat scroll 0 0 #EDEDEC;
font: 16px/20px "Helvetica Neue",Helvetica,sans-serif;
margin: 1px 0;
padding: 0;

}

#cabecera{

width:950px;
margin:0 auto 0 auto;
padding:0px;


}



#navegacion{
width:980px;
margin:0 auto 0 auto;
}

#piePagina{
clear:both;
width:100%;
height:200px;
background-color:#EDEDEC;
margin:1px auto;
text-align:;
}
    

    #imagentext{
text-align:center;
background-position:center;
font-size:18 px;
color:black;
margin:80px;
width:320px;
}



.contenedorPrincipal{
width:300;
height:310;
border:0solid;
background:#ffffff;

}
.img1{width:300px;
 height:200px;
}

