
h1.color{color:white;
}
h6.elegant {
  border-bottom: #CCCCCC 3px solid;
  color: red;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1em;
  line-height: .8em;
}

.table{
 background-image:url('../images/banner/banner03.jpg');
 height:320px; 
 width:100%;
 text-align:center;
 cellpadding:5px;
 }
.table2{
 background:#ffffff;
 height:320px; 
 width:100%;
 text-align:justify;
 cellpadding:5;
 }

.td{
 text-valign:button;
 width:100%;
 height:50%;
 bgcolor:yellow;
}

.columnaIzq{
    width:339px;
    float:left;
    background-color:;
    height:250px;
    text-align:center;
    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

margin: 5px 5px auto;
padding: 5px 10px 250px;
}



#contenedorP{
overflow: hidden;
/*border-top-width:3px solid;*/
border-top-color:#ff0000;
background: none repeat scroll 0 0 #EDEDEC;
font: 16px/20px "Helvetica Neue",Helvetica,sans-serif;
margin: 1px 0;
padding: 0;

}

#cabecera{

width:950px;
margin:0 auto 0 auto;
padding:0px;


}



#navegacion{
width:980px;
margin:0 auto 0 auto;

}

/*pie de pagina*/
    /* Pie de PÃ¡gina */

.pieP {
    position:relative;
    left: 0;
    width: 100%;
    background: #681E1E;
	position:right;
	
}

.pieP div {
    display: table;
    margin: 0 auto;
    padding: 44px 0;
    width: 940px;
    color: #777;
	position:center;
	
}

.pieP div section {
    display: table-cell;
    width: 300px;
	
}

.pieP div #Nosotros, footer div #Sugerencias {
    padding-right: 20px;
	
}
    
.pieP h3 {
    color: #FFF;
	text-align:center;
}

.pieP a {
    color: #999;
}

.pieP a:hover {
    color: #FFF;
    text-decoration: none;
}

.pieP ul {
    margin: 0 0 0 40px;
    list-style: square;
    color: #565656;
}
    
.pieP ul li a {
    display: block;
}
/*fin de pie de pagina*/

    #imagentext{
text-align:center;
background-position:center;
font-size:18 px;
color:black;
margin:80px;
width:320px;
}



.contenedorPrincipal{
width:300;
height:310;
border:0solid;
background:#ffffff;

}
.img1{width:300px;
 height:210px;
}
.img2{
position:right;}


/*galeria de imagenes*/

div#ejemploGaleria {
  background-color: #123;
  border: 3px solid #234;
  margin: 0 auto;
  padding: 10px;
  width: 480px;
}
span#imgDescripcion {
  color: #ABC;
  float: left;
  font-size: 18px;
  width: 250px;
}
ul#imgListaEjemplo{
  float: right;
  margin: 0;
}
ul#imgListaEjemplo li {
  display: inline;
  padding: 0 5px;
}
ul#imgListaEjemplo li a {
  font-size: 16px;
}
img#imgContenedor{
  margin-top: 10px;
}
