

div.centerTable{
	text-aling:center;
	
	 
	position:absolute;
	left:50%;
	top:50%;
	height:150%;
	margin-top:-50%;
	width:80%;
	margin-left:-400px;
	overflow:auto;
	border:10px solid red;
}

div.centerTable table{
	margin:0 auto;
	text-aling: center;
}

 .table{

height:50%;
 width:50%;
  border:4; 
  align:center;
   bgcolor:#ffffff;
    cellpadding:5;}


.td{
 text-align:center;
 width:50%;
  height:50%;
  text-color:yellow;
}

.columnaIzq{
    width:150px;
    float:left;
    background-color:red;
    height:250px;
    
    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

margin: 5px 5px auto;
padding: 5px 10px 250px;
}
.columnaDer{
    width:180px;
    float:right;
    background-color:green;
    
    -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

margin: 5px 5px auto;
padding: 20px 10px 250px;
}


#contenedorP{
overflow: hidden;
border-top-width:3px solid;
border-top-color:#ff0000;
background: none repeat scroll 0 0 #EDEDEC;
font: 16px/20px "Helvetica Neue",Helvetica,sans-serif;
margin: 1px 0;
padding: 0;

}

#cabecera{
widht:800px;
margin:0 auto 0 auto;
padding:3px;


}



#navegacion{
width:780px;
margin:0 auto 0 auto;
}

#piePagina{
clear:both;
width:100%;
height:200px;
background-color:blue;
margin:1px auto;
text-align:center;
}
    

    #imagentext{
text-align:center;
background-position:center;
font-size:18 px;
color:black;
margin:80px;
width:320px;
}



.contenedorPrincipal{
width:300;
height:310;
border:0solid;
background:#ffffff;

}

