html {
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3) inset;
}

body {
    background: none repeat scroll 0 0 #EDEDEC;
    font: 25px/30px "Helvetica Neue",Helvetica,sans-serif;
    margin: -35px 0;
    padding: 0;
}

#wrapper {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    margin: 5px auto;
    padding: 20px 40px 300px;
    width: 400px;
}

h1 {
    font-family: Arial,helvetica,sans-serif;
    font-size: 25px;
    text-align: center;
}

p {

}

.sample {
    color: #666666;
    font-family: Arial,sans-serif;
    font-size: 16px;
}

.getit {
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #DDDDDD;
    float: left;
    height: 20px;
    margin-top: 75px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.getit a {
    color: teal;
    font-family: georgia;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#mintshare_ft {
left:795px;
}

#mintshare_fl {
top:200px;
}
